<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>

  <body>
    <h1>Congrats!, You have been logged in.</h1>
    <a href="/user/logout"> Log Out</a>

    <script src="/js/dashboard.js"></script>
  </body>
</html>
