<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>

  <body>
    <h1>Homepage !</h1>
    <span> Not a User ? </span> <a href="./user/register">Register</a>
    <br /><br />
    <span> Already Registered ? </span> <a href="./user/login">Login</a>

    <script src="/js/register.js"></script>
  </body>
</html>
