<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <form id="form">
        <h1>Register</h1>
        <label for="username">Username</label>
        <input id="username" type="text"><br><br>
        <label for="email">Email</label>
        <input id="email" type="text"><br><br>
        <label for="password">Password</label>
        <input id="password" type="password"><br><br>
        <input id="btn" type="submit" value="Register">
    </form><br>
    <a href="/login">Login</a>&nbsp;&nbsp;
    <a href="/">Home</a>

    <script src="/js/register.js"></script>
</body>

</html>